.calc{
    width: 400px;
    height: 450px;
    margin-left: 36%;
    margin-top: 6%;
    background-color:gray;
}

.screen{
    width: 80%;
    margin-left: 35px;
    margin-top: 32px;
    height: 40px;
    pointer-events: none;
}

.btn{
    width: 40px;
    height: 40px;
    margin-left: 45px;
    margin-top: 25px;
    font-size: medium;
}